@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* https://www.canva.com/colors/color-palettes/salmon-sushi/ */
  --color-background: #e7f2f8;
  --color-accent: #74bdcb;
  --color-lighter-accent: #8de2f3;
  --color-darker-accent: #5a939f;
  --color-darker-lighter-accent: #436e77;
  --color-darker-darker-accent: #305056;
  --color-light-unique: #EFE7BC;
  --color-unique: #FFA384;


  --color-nav: var(--color-accent);
  --color-nav-hover: var(--color-darker-accent);
  --color-nav-font: var(--color-light-unique);

  --color-left-border: var(--color-darker-accent);
  --color-left-background: var(--color-accent);
  --color-left-yellow-background: var(--color-darker-accent);

  --color-right-li-font: var(--color-darker-accent);
  --color-right-font: var(--color-darker-lighter-accent);
  --color-right-background: var(--color-lighter-accent);
  --color-right-border: var(--color-light-unique);
  --color-right-btn-border: var(--color-light-unique);
  --color-right-btn-font: var(--color-darker-lighter-accent);
  --color-right-btn-background: var(--color-unique);
}

.darkmode {
  /* https://www.canva.com/colors/color-palettes/doughnut-drizzle/ */
  --color-background: #2d2d2d;
  --color-accent: #4A3E30;
  --color-lighter-accent: #6B5640;
  --color-darker-accent: #231F12;
  --color-darker-lighter-accent: #342e1b;
  --color-darker-darker-accent: #1c190e;
  --color-unique: #6B5640;
  --color-light-unique: #A78A70;


  --color-nav: var(--color-accent);
  --color-nav-hover: var(--color-darker-accent);
  --color-nav-font: var(--color-light-unique);

  --color-left-border: var(--color-darker-accent);
  --color-left-background: var(--color-unique);
  /* --color-left-background:var(--color-accent); */
  --color-left-yellow-background: null;

  --color-right-li-font: var(--color-light-unique);
  /* --color-right-li-font:var(--color-darker-accent); */
  --color-right-font: var(--color-light-unique);
  /* --color-right-font:var(--color-darker-lighter-accent); */
  --color-right-background: var(--color-accent);
  /* --color-right-background:var(--color-lighter-accent); */
  --color-right-border: var(--color-light-unique);
  --color-right-btn-border: var(--color-light-unique);
  --color-right-btn-font: var(--color-light-unique);
  /* --color-right-btn-font:var(--color-darker-lighter-accent); */
  --color-right-btn-background: var(--color-unique);
}

.ultradarkmode {
  --color-background: #121212fa;
  /*background*/
  --color-lighter-accent: #00BFFF;
  /*font*/
  --color-darker-accent: #1E90FF;
  /*tile*/
  --color-unique: #121212d6;
  /*nav*/
  --color-light-unique: #ffffff15;
  /*hover, border right*/


  --color-nav: var(--color-unique);
  --color-nav-hover: var(--color-light-unique);
  --color-nav-font: var(--color-lighter-accent);

  --color-left-border: var(--color-light-unique);
  --color-left-background: var(--color-lighter-accent);
  --color-left-yellow-background: null;

  --color-right-li-font: var(--color-lighter-accent);
  --color-right-font: var(--color-lighter-accent);
  --color-right-background: var(--color-unique);
  --color-right-border: var(--color-light-unique);
  --color-right-btn-border: var(--color-light-unique);
  --color-right-btn-font: var(--color-lighter-accent);
  --color-right-btn-background: var(--color-unique);
}

body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  grid-template-areas: "board menu";
  /* min-height: 100vh; */
  background: var(--color-background);
}

.navigation {
  position: fixed;
  width: 60px;
  height: 100%;
  background: var(--color-nav);
  transition: 0.5s;
  overflow: hidden;
}

.navigation:hover,
.navigation.active {
  width: 200px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.navigation ul li:hover {
  background: var(--color-nav-hover);
}

.navigation ul li a {
  position: relative;
  width: 100%;
  display: block;
  display: flex;
  text-decoration: none;
  color: var(--color-nav-font);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .icon .fa {
  font-size: 24px;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* .toggle{
  position: absolute;
  top:0;
  right:0;
  width: 60px;
  height: 60px;
  background: var(--c-nav);
}
.toggle.active{
  background: var(--c-hoveref);
}
.toggle:before{
  content: '\f0c9';
  font-family: fontAwesome;
  position:absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align:center;
  font-size: 24px;
  color:var(--c-font);
}
.toggle.active:before{
  content: '\f00d';
}
@media (max-width:767px){
  .navigation{
      left: -60px;
  }
  .navigation.active{
      left: 0px;
      width:100%;
  }
} */
table.left td {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  /* border-radius: 25px; */
  /*ROUNDED IDEA*/
  border-radius: 15px;
}

table.left td.field {
  border: 1px solid var(--color-left-border);
  /*   1 lub 2 px  */
}

.field {
  background-color: var(--color-left-background);
}

.emptyfield {
  border: none !important;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.left {
  margin-top: 60px;
  grid-area: board;
  margin-left: 60px;
  justify-self: center;
  /* width:60%; */
  /* float:left; */
}

.right {
  margin: 60px 30px 0 0;
  grid-area: menu;
  justify-self: end;
  width: 100%;
  text-align: center;
}

#playerwhich,
#tip {
  height: 100px;
}

#dice,
#list {
  height: 200px;
}

table.right li {
  list-style-position: inside;
  color: var(--color-right-li-font);
}

table.right tr {
  color: var(--color-right-font);
  background-color: var(--color-right-background);
}

table.right td {
  border: 1px solid var(--color-right-border);
}

input[type="button"] {
  border-color: var(--color-right-btn-border);
  color: var(--color-right-btn-font);
  background-color: var(--color-right-btn-background);
}

.yellow {
  border: 1px solid var(--color-left-yellow-background);
}

.list-categories {
  /* list-style-type: none; */
  /* padding: 0px; */
  /* margin: 0px; */
  max-height: 0px;
  opacity: 0;
  /* overflow: hidden; */
  transition: opacity 300ms ease;
  /*300 lub 100*/
}

.list-categories.active {
  max-height: inherit;
  opacity: 1;
}