
.grid-container {
    --num-cols: 11;
    --num-rows: 11;
    --gap:1px;
    padding: 30px 10%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    /* grid-template-rows: repeat(var(--num-rows), 1fr); */
    grid-auto-rows: var(--row-height);
    row-gap:var(--gap);
    column-gap: var(--gap);
}
.grid-item{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: center;
  --box-size: 18px;
  width:var(--box-size);
height: var(--box-size);
}